<!-- push nodes into camera namespace -->
<launch>

  <!-- "camera" should uniquely identify the device. All topics are pushed down
   into the "camera" namespace, and it is prepended to tf frame ids. -->
  <arg name="camera" default="camera" />

  <!-- Arguments for remapping all device namespaces -->
  <arg name="rgb"              default="rgb" />
  <arg name="ir"               default="ir" />
  <arg name="depth"            default="depth" />

  <!-- Hardware depth registration -->
  <arg name="depth_registration" default="false" />

  <arg name="publish_tf" default="true" />

  <!-- Processing Modules -->
  <arg name="rgb_processing"                  default="true"  />
  <arg name="debayer_processing"              default="false" />
  <arg name="ir_processing"                   default="false" />
  <arg name="depth_processing"                default="true" />
  <arg name="depth_registered_processing"     default="true" />
  <arg name="disparity_processing"            default="false" />
  <arg name="disparity_registered_processing" default="false" />
  <arg name="hw_registered_processing"        default="true" if="$(arg depth_registration)" />
  <arg name="sw_registered_processing"        default="false" if="$(arg depth_registration)" />
  <arg name="hw_registered_processing"        default="false" unless="$(arg depth_registration)" />
  <arg name="sw_registered_processing"        default="true" unless="$(arg depth_registration)" />

  <!-- Disable bond topics by default -->
  <arg name="respawn" default="false" />

  <!-- Worker threads for the nodelet manager -->
  <arg name="num_worker_threads" default="4" />

  <group ns="$(arg camera)">

    <!-- Start nodelet manager -->
    <arg name="manager" value="$(arg camera)_nodelet_manager" />
    <arg name="debug" default="false" /> <!-- Run manager in GDB? -->
    <include file="$(find rgbd_launch)/launch/includes/manager.launch.xml">
      <arg name="name" value="$(arg manager)" />
      <arg name="debug" value="$(arg debug)" />
      <arg name="num_worker_threads"  value="$(arg num_worker_threads)" />
    </include>

    <!-- Load astra_device_manager -->
    <include file="$(find ros_astra_sdk_wrapper)/launch/astra_sdk_nodelet.launch.xml">
      <arg name="manager"                         value="$(arg manager)" />
      <arg name="rgb"                             value="$(arg rgb)" />
      <arg name="ir"                              value="$(arg ir)" />
      <arg name="depth"                           value="$(arg depth)" />
      <arg name="respawn"                         value="$(arg respawn)" />
      <arg name="depth_registration"              value="$(arg depth_registration)" />
      <arg name="color_depth_synchronization"     value="false" />
    </include>

    <!-- Load standard constellation of processing nodelets -->
    <!--<include file="$(find rgbd_launch)/launch/includes/processing.launch.xml">
      <arg name="manager"                         value="$(arg manager)" />
      <arg name="rgb"                             value="$(arg rgb)" />
      <arg name="ir"                              value="$(arg ir)" />
      <arg name="depth"                           value="$(arg depth)" />
      <arg name="respawn"                         value="$(arg respawn)" />
      <arg name="rgb_processing"                  value="$(arg rgb_processing)" />  true -->
    <!--  <arg name="debayer_processing"              value="$(arg debayer_processing)" />  false -->
     <!-- <arg name="ir_processing"                   value="$(arg ir_processing)" />  false -->
     <!-- <arg name="depth_processing"                value="$(arg depth_processing)" />  true -->
    <!-- <arg name="depth_registered_processing"     value="$(arg depth_registered_processing)" />  true -->
    <!--<arg name="disparity_processing"            value="$(arg disparity_processing)" />  false -->
    <!-- <arg name="disparity_registered_processing" value="$(arg disparity_registered_processing)" />  false -->
    <!-- <arg name="hw_registered_processing"        value="$(arg hw_registered_processing)" />
     <arg name="sw_registered_processing"        value="$(arg sw_registered_processing)" />
   </include> -->

  </group>

<!-- Load reasonable defaults for the relative pose between cameras -->
 <include if="$(arg publish_tf)"
	   file="$(find astra_launch)/launch/includes/astra_frames.launch">
    <arg name="camera" value="$(arg camera)" />
  </include>

</launch>

